Importar e acessar os arquivos

In [1]:
import pandas as pd

In [2]:
Caminho_Planilha_carros_ano = "tabela_carros_ano.xlsx"
Caminho_marca_carros = "tabela_marca_carros.xlsx"

In [3]:
df_carros_ano = pd.read_excel(Caminho_Planilha_carros_ano)
df_marca_carros = pd.read_excel(Caminho_marca_carros)

Exclui a coluna 'Marca'

In [4]:
df_carros_ano.columns = ['Nome do Carro', 'Valor (R$)', 'Ano']
print(df_carros_ano)

     Nome do Carro Valor (R$)       Ano
0             Onix      Preto  Seminovo
1             HB20     Marrom  Seminovo
2             Polo     Marrom  Seminovo
3             Argo   Vermelho  Seminovo
4               Ka      Cinza      Novo
5          Corolla   Vermelho  Seminovo
6            Civic      Cinza      Novo
7          Compass     Marrom  Seminovo
8         Renegade   Vermelho      Novo
9            Hilux      Verde  Seminovo
10             S10    Laranja  Seminovo
11         Tracker      Cinza  Seminovo
12           Creta      Preto  Seminovo
13         T-Cross     Branco  Seminovo
14          Cronos      Prata      Novo
15        EcoSport     Marrom      Novo
16           Yaris    Amarelo      Novo
17            HR-V    Laranja      Novo
18            Toro     Marrom      Novo
19           Kicks     Branco      Novo
20           Versa       Azul      Novo
21            Spin       Azul      Novo
22          Tucson    Amarelo  Seminovo
23          Amarok     Branco  Seminovo
24         Fiorino      Verde      Novo
25          Ranger    Amarelo  Seminovo
26             SW4    Laranja  Seminovo
27            City      Verde      Novo
28       Commander     Branco      Novo
29            Mobi      Prata  Seminovo
30           March    Laranja  Seminovo
31          Cobalt      Prata      Novo
32         Elantra   Vermelho      Novo
33          Virtus      Prata      Novo
34             Uno     Branco      Novo
35          Fusion       Azul      Novo
36           Prius       Azul      Novo
37             Fit      Verde      Novo
38  Grand Cherokee     Marrom      Novo
39          Sentra     Marrom      Novo
40          Duster       Azul      Novo
41            Kwid      Prata      Novo
42         Sandero      Preto      Novo
43          Captur     Branco      Novo
44           Logan   Vermelho      Novo
45           Pulse      Verde      Novo
46           Nivus     Branco      Novo
47          Strada      Prata      Novo
48           Etios    Amarelo  Seminovo
49       Territory   Vermelho  Seminovo

realiza a mesclagem dos dados dos dois dataframes

In [5]:
df_carros_ano['Nome do Carro'] = df_carros_ano['Nome do Carro'].str.strip().str.lower()
df_marca_carros['Nome do Carro'] = df_marca_carros['Nome do Carro'].str.strip().str.lower()

In [6]:
df_merge = pd.merge(df_carros_ano, df_marca_carros, on='Nome do Carro', how='left')
print(df_merge)

     Nome do Carro Valor (R$)_x     Ano_x       Marca  Valor (R$)_y  Ano_y
0             onix        Preto  Seminovo   Chevrolet         72500   2022
1             hb20       Marrom  Seminovo     Hyundai         70000   2021
2             polo       Marrom  Seminovo  Volkswagen         78300   2023
3             argo     Vermelho  Seminovo        Fiat         69900   2022
4               ka        Cinza      Novo        Ford         60000   2020
5          corolla     Vermelho  Seminovo      Toyota        135000   2023
6            civic        Cinza      Novo       Honda        139900   2023
7          compass       Marrom  Seminovo        Jeep        180000   2024
8         renegade     Vermelho      Novo        Jeep        125000   2022
9            hilux        Verde  Seminovo      Toyota        290000   2024
10             s10      Laranja  Seminovo   Chevrolet        250000   2023
11         tracker        Cinza  Seminovo   Chevrolet        130000   2022
12           creta        Preto  Seminovo     Hyundai        135500   2023
13         t-cross       Branco  Seminovo  Volkswagen        140000   2023
14          cronos        Prata      Novo        Fiat         82000   2022
15        ecosport       Marrom      Novo        Ford         95000   2020
16           yaris      Amarelo      Novo      Toyota         94000   2022
17            hr-v      Laranja      Novo       Honda        155000   2024
18            toro       Marrom      Novo        Fiat        160000   2023
19           kicks       Branco      Novo      Nissan        115000   2022
20           versa         Azul      Novo      Nissan         98000   2021
21            spin         Azul      Novo   Chevrolet         95500   2023
22          tucson      Amarelo  Seminovo     Hyundai        140000   2021
23          amarok       Branco  Seminovo  Volkswagen        260000   2024
24         fiorino        Verde      Novo        Fiat         82000   2021
25          ranger      Amarelo  Seminovo        Ford        270000   2024
26             sw4      Laranja  Seminovo      Toyota        375000   2024
27            city        Verde      Novo       Honda        110000   2022
28       commander       Branco      Novo        Jeep        215000   2024
29            mobi        Prata  Seminovo        Fiat         62000   2021
30           march      Laranja  Seminovo      Nissan         58000   2020
31          cobalt        Prata      Novo   Chevrolet         68000   2020
32         elantra     Vermelho      Novo     Hyundai        112000   2021
33          virtus        Prata      Novo  Volkswagen         95000   2022
34             uno       Branco      Novo        Fiat         56000   2020
35          fusion         Azul      Novo        Ford        150000   2020
36           prius         Azul      Novo      Toyota        160000   2022
37             fit        Verde      Novo       Honda         85000   2020
38  grand cherokee       Marrom      Novo        Jeep        350000   2024
39          sentra       Marrom      Novo      Nissan        102000   2021
40          duster         Azul      Novo     Renault         98000   2023
41            kwid        Prata      Novo     Renault         59900   2022
42         sandero        Preto      Novo     Renault         68000   2021
43          captur       Branco      Novo     Renault        108000   2023
44           logan     Vermelho      Novo     Renault         75000   2020
45           pulse        Verde      Novo        Fiat        110000   2023
46           nivus       Branco      Novo  Volkswagen        122000   2023
47          strada        Prata      Novo        Fiat         98000   2023
48           etios      Amarelo  Seminovo      Toyota         65000   2020
49       territory     Vermelho  Seminovo        Ford        170000   2023

Renomear as colunas

In [7]:
df_merge = df_merge.rename(columns={
    'Nome do Carro Valor (R$)_x' : 'Nome do Carro',
})

In [8]:
df_merge = df_merge.rename(columns={
    'Ano_x' : 'Estado',
})

In [9]:
df_merge = df_merge.rename(columns={
    'Valor (R$)_y' : 'Valor (R$)',
})

In [10]:
df_merge = df_merge.rename(columns={
    'Ano_y' : 'Ano',
})

Limpar cÃ©lulas com valores em branco ou NaN

In [11]:
df_merge = df_merge.dropna()

Adiciona uma coluna com 15% de desconto sobre o valor do carro

In [12]:
df_merge['Valor com Desconto (R$)'] = df_merge.apply(
    lambda row: row['Valor (R$)'] * 0.9 if row['Valor (R$)'] > 50000 else row['Valor (R$)'],
    axis=1
)

In [13]:
print(df_merge)

     Nome do Carro Valor (R$)_x    Estado       Marca  Valor (R$)   Ano  \
0             onix        Preto  Seminovo   Chevrolet       72500  2022
1             hb20       Marrom  Seminovo     Hyundai       70000  2021
2             polo       Marrom  Seminovo  Volkswagen       78300  2023
3             argo     Vermelho  Seminovo        Fiat       69900  2022
4               ka        Cinza      Novo        Ford       60000  2020
5          corolla     Vermelho  Seminovo      Toyota      135000  2023
6            civic        Cinza      Novo       Honda      139900  2023
7          compass       Marrom  Seminovo        Jeep      180000  2024
8         renegade     Vermelho      Novo        Jeep      125000  2022
9            hilux        Verde  Seminovo      Toyota      290000  2024
10             s10      Laranja  Seminovo   Chevrolet      250000  2023
11         tracker        Cinza  Seminovo   Chevrolet      130000  2022
12           creta        Preto  Seminovo     Hyundai      135500  2023
13         t-cross       Branco  Seminovo  Volkswagen      140000  2023
14          cronos        Prata      Novo        Fiat       82000  2022
15        ecosport       Marrom      Novo        Ford       95000  2020
16           yaris      Amarelo      Novo      Toyota       94000  2022
17            hr-v      Laranja      Novo       Honda      155000  2024
18            toro       Marrom      Novo        Fiat      160000  2023
19           kicks       Branco      Novo      Nissan      115000  2022
20           versa         Azul      Novo      Nissan       98000  2021
21            spin         Azul      Novo   Chevrolet       95500  2023
22          tucson      Amarelo  Seminovo     Hyundai      140000  2021
23          amarok       Branco  Seminovo  Volkswagen      260000  2024
24         fiorino        Verde      Novo        Fiat       82000  2021
25          ranger      Amarelo  Seminovo        Ford      270000  2024
26             sw4      Laranja  Seminovo      Toyota      375000  2024
27            city        Verde      Novo       Honda      110000  2022
28       commander       Branco      Novo        Jeep      215000  2024
29            mobi        Prata  Seminovo        Fiat       62000  2021
30           march      Laranja  Seminovo      Nissan       58000  2020
31          cobalt        Prata      Novo   Chevrolet       68000  2020
32         elantra     Vermelho      Novo     Hyundai      112000  2021
33          virtus        Prata      Novo  Volkswagen       95000  2022
34             uno       Branco      Novo        Fiat       56000  2020
35          fusion         Azul      Novo        Ford      150000  2020
36           prius         Azul      Novo      Toyota      160000  2022
37             fit        Verde      Novo       Honda       85000  2020
38  grand cherokee       Marrom      Novo        Jeep      350000  2024
39          sentra       Marrom      Novo      Nissan      102000  2021
40          duster         Azul      Novo     Renault       98000  2023
41            kwid        Prata      Novo     Renault       59900  2022
42         sandero        Preto      Novo     Renault       68000  2021
43          captur       Branco      Novo     Renault      108000  2023
44           logan     Vermelho      Novo     Renault       75000  2020
45           pulse        Verde      Novo        Fiat      110000  2023
46           nivus       Branco      Novo  Volkswagen      122000  2023
47          strada        Prata      Novo        Fiat       98000  2023
48           etios      Amarelo  Seminovo      Toyota       65000  2020
49       territory     Vermelho  Seminovo        Ford      170000  2023

    Valor com Desconto (R$)
0                   65250.0
1                   63000.0
2                   70470.0
3                   62910.0
4                   54000.0
5                  121500.0
6                  125910.0
7                  162000.0
8                  112500.0
9                  261000.0
10                 225000.0
11                 117000.0
12                 121950.0
13                 126000.0
14                  73800.0
15                  85500.0
16                  84600.0
17                 139500.0
18                 144000.0
19                 103500.0
20                  88200.0
21                  85950.0
22                 126000.0
23                 234000.0
24                  73800.0
25                 243000.0
26                 337500.0
27                  99000.0
28                 193500.0
29                  55800.0
30                  52200.0
31                  61200.0
32                 100800.0
33                  85500.0
34                  50400.0
35                 135000.0
36                 144000.0
37                  76500.0
38                 315000.0
39                  91800.0
40                  88200.0
41                  53910.0
42                  61200.0
43                  97200.0
44                  67500.0
45                  99000.0
46                 109800.0
47                  88200.0
48                  58500.0
49                 153000.0

Salva os dados de Df_merge em uma nova planilha do excel

In [14]:
df_merge.to_excel('tabela_carros_ano_atualizada.xlsx', index=False)